<!DOCTYPE html>
<html lang="en">
<head>
  <title>Socketron</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" media="all" href="<%= css %>">
</head>
<body>
  <div id="container">
    <header>
      <h1>Socketron</h1>
    </header>
    <div class="readme">
      <%- readme %>
    </div>
    <footer>
      <p>©2013 Brian Ford | Socketron may be freely distributed under the MIT license.</p>
    </footer>
  </div>
  <a href="https://github.com/btford/socketron"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub"></a>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38163127-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
